<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tbptb">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TBPTB">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPAypv5qU04QnXmCWLWYdRsMW3XW7E8OE"/>

        <activity
            android:name=".front"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login"></activity>
        <activity android:name=".signup"></activity>
        <activity android:name=".dashboard"></activity>
        <activity android:name=".rute"></activity>
        <activity android:name=".profil"></activity>
        <activity android:name=".ganti_password"></activity>
        <activity android:name=".chat"></activity>
        <activity android:name=".peminjaman_gedung"></activity>
        <activity android:name=".info_fasilitas"></activity>
        <activity android:name=".bookmark"></activity>
        <activity android:name=".chat_1"></activity>
        <activity android:name=".pemesanan_gedung"></activity>
        <activity android:name=".detail_pemesanan_gedung"></activity>
        <activity android:name=".fasilitas_gedung_fakultas"></activity>
        <activity android:name=".fasilitas_gedung_kuliah"></activity>
        <activity android:name=".fasilitas_jurusan"></activity>
        <activity android:name=".fasilitas_kantin"></activity>
        <activity android:name=".fasilitas_lapangan"></activity>
        <activity android:name=".fasilitas_umum_lain"></activity>
        <activity android:name=".bookmark_data"></activity>
        <activity android:name=".menu_utama"></activity>
        <activity android:name=".map"></activity>

    </application>

</manifest>